@import "header";
@import "main";

section {
    width: 100%;
    height: 700px;
    line-height: 1.25em;
    position: relative;
}

.py-5 {
    padding-bottom: 3rem !important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 1200px) {
    section {
        height: 1000px;
    }
}